
.titleWrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.titleImage, .introImage {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.titleText {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  text-shadow: black 0px 0px 4px;
  top: 40%;
}

.introWrapperFlex {
}


.box1 {
  height: 500px;
  background-color: blue;
  position: relative;
}
.box2 {
  background-color: rgb(232, 232, 232);
}

@media only screen and (min-width: 576px) {
  /* For tablets: */
  .titleWrapper {
    height: 600px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .titleWrapper {
    height: 800px;
  }
}